In [2]:
import sqlite3

In [3]:
con = sqlite3.connect('../data/sqlite.db')

In [ ]:
curr = con.cursor()

In [ ]:
# Sample data insertion queries

# Inserting data into Supplier
curr.execute("INSERT INTO Supplier (Supplier_ID, Name, Address, Phone, Fax, Email, Other_Details) VALUES (1, 'Supplier A', '123 Main St', 1234567890, 1234567891, 'supplierA@example.com', 'Details A')")
curr.execute("INSERT INTO Supplier (Supplier_ID, Name, Address, Phone, Fax, Email, Other_Details) VALUES (2, 'Supplier B', '456 Elm St', 2345678901, 2345678902, 'supplierB@example.com', 'Details B')")
curr.execute("INSERT INTO Supplier (Supplier_ID, Name, Address, Phone, Fax, Email, Other_Details) VALUES (3, 'Supplier C', '789 Oak St', 3456789012, 3456789013, 'supplierC@example.com', 'Details C')")

In [ ]:
con.commit()

In [ ]:
# Inserting data into Role
curr.execute("INSERT INTO Role (Role_ID, Role_Name, Description) VALUES (1, 'Manager', 'Oversees operations')")
curr.execute("INSERT INTO Role (Role_ID, Role_Name, Description) VALUES (2, 'Salesperson', 'Handles sales')")
curr.execute("INSERT INTO Role (Role_ID, Role_Name, Description) VALUES (3, 'Technician', 'Provides technical support')")

In [ ]:
con.commit()

In [ ]:
# Inserting data into Staff
curr.execute("INSERT INTO Staff (Staff_ID, First_Name, Last_Name, Address, Phone, Email, UserName, Password, Role_ID) VALUES (1, 'John', 'Doe', '101 First St', 1234567890, 'john.doe@example.com', 'johndoe', 'password123', 1)")
curr.execute("INSERT INTO Staff (Staff_ID, First_Name, Last_Name, Address, Phone, Email, UserName, Password, Role_ID) VALUES (2, 'Jane', 'Smith', '202 Second St', 2345678901, 'jane.smith@example.com', 'janesmith', 'password456', 2)")
curr.execute("INSERT INTO Staff (Staff_ID, First_Name, Last_Name, Address, Phone, Email, UserName, Password, Role_ID) VALUES (3, 'Emily', 'Johnson', '303 Third St', 3456789012, 'emily.johnson@example.com', 'emilyjohnson', 'password789', 3)")

In [ ]:
con.commit()

In [ ]:
# Inserting data into Customer
curr.execute("INSERT INTO Customer (Customer_ID, First_Name, Last_Name, Address, Phone, Email, Staff_ID) VALUES (1, 'Alice', 'Brown', '404 Fourth St', 4567890123, 'alice.brown@example.com', 1)")
curr.execute("INSERT INTO Customer (Customer_ID, First_Name, Last_Name, Address, Phone, Email, Staff_ID) VALUES (2, 'Bob', 'Davis', '505 Fifth St', 5678901234, 'bob.davis@example.com', 2)")
curr.execute("INSERT INTO Customer (Customer_ID, First_Name, Last_Name, Address, Phone, Email, Staff_ID) VALUES (3, 'Carol', 'Miller', '606 Sixth St', 6789012345, 'carol.miller@example.com', 3)")

In [ ]:
con.commit()

In [ ]:
# Inserting data into Order
curr.execute("INSERT INTO `Order` (Order_ID, Date_of_Order, Order_Details, Customer_ID) VALUES (1, '2024-08-01', 'Order details A', 1)")
curr.execute("INSERT INTO `Order` (Order_ID, Date_of_Order, Order_Details, Customer_ID) VALUES (2, '2024-08-02', 'Order details B', 2)")
curr.execute("INSERT INTO `Order` (Order_ID, Date_of_Order, Order_Details, Customer_ID) VALUES (3, '2024-08-03', 'Order details C', 3)")

In [ ]:
con.commit()

In [ ]:
# Inserting data into Payment
curr.execute("INSERT INTO Payment (Bill_number, Payment_Type, Other_Details) VALUES (1, 'Credit Card', 'Payment for Order 1')")
curr.execute("INSERT INTO Payment (Bill_number, Payment_Type, Other_Details) VALUES (2, 'Cash', 'Payment for Order 2')")
curr.execute("INSERT INTO Payment (Bill_number, Payment_Type, Other_Details) VALUES (3, 'Debit Card', 'Payment for Order 3')")

In [ ]:
con.commit()

In [ ]:
# Inserting data into Category
curr.execute("INSERT INTO Category (Category_ID, Category_Name, Description) VALUES (1, 'Electronics', 'Electronic gadgets')")
curr.execute("INSERT INTO Category (Category_ID, Category_Name, Description) VALUES (2, 'Furniture', 'Household furniture')")
curr.execute("INSERT INTO Category (Category_ID, Category_Name, Description) VALUES (3, 'Clothing', 'Apparel and clothing')")

In [ ]:
con.commit()

In [ ]:
# Inserting data into Product
curr.execute("INSERT INTO Product (Product_ID, Product_Name, Product_description, Product_unit, Product_Price, Product_quantity, Product_Status, Other_Details, Supplier_ID, Category_ID) VALUES ('P001', 'Laptop', 'High-performance laptop', 'Unit', 999.9, 10, 1, 'New Arrival', 1, 1)")
curr.execute("INSERT INTO Product (Product_ID, Product_Name, Product_description, Product_unit, Product_Price, Product_quantity, Product_Status, Other_Details, Supplier_ID, Category_ID) VALUES ('P002', 'Chair', 'Comfortable office chair', 'Unit', 199.9, 20, 1, 'Office Furniture', 2, 2)")
curr.execute("INSERT INTO Product (Product_ID, Product_Name, Product_description, Product_unit, Product_Price, Product_quantity, Product_Status, Other_Details, Supplier_ID, Category_ID) VALUES ('P003', 'Jacket', 'Winter jacket', 'Unit', 79.9, 15, 1, 'Winter Collection', 3, 3)")

In [ ]:
con.commit()

In [ ]:
# Inserting data into Order_Detail
curr.execute("INSERT INTO Order_Detail (Order_Detail_ID, Unit_Price, Size, Quantity, Discount, Total, Date, Product_ID, Order_ID, Bill_number) VALUES (1, 999.9, 15, 1, 0, 999.9, '2024-08-01', 'P001', 1, 1)")
curr.execute("INSERT INTO Order_Detail (Order_Detail_ID, Unit_Price, Size, Quantity, Discount, Total, Date, Product_ID, Order_ID, Bill_number) VALUES (2, 199.9, 0, 2, 10, 359.8, '2024-08-02', 'P002', 2, 2)")
curr.execute("INSERT INTO Order_Detail (Order_Detail_ID, Unit_Price, Size, Quantity, Discount, Total, Date, Product_ID, Order_ID, Bill_number) VALUES (3, 79.9, 0, 3, 5, 227.7, '2024-08-03', 'P003', 3, 3)")

In [ ]:
con.commit()

In [ ]:
curr.execute("SELECT * FROM Order_Detail")
rows = curr.fetchall()
for row in rows:
    print(row)

(1, 999.9, 15, 1, 0.0, 999.9, '2024-08-01', 'P001', 1, 1)
(2, 199.9, 0, 2, 10.0, 359.8, '2024-08-02', 'P002', 2, 2)
(3, 79.9, 0, 3, 5.0, 227.7, '2024-08-03', 'P003', 3, 3)

In [ ]:
curr.execute("SELECT * FROM Order_Detail WHERE Date > '2024-08-02'")
rows = curr.fetchall()
for row in rows:
    print(row)

(3, 79.9, 0, 3, 5.0, 227.7, '2024-08-03', 'P003', 3, 3)

In [ ]:
# from smart_inventory_bot.components.sqlite_utils import sqlite_exc

In [ ]:
# r = sqlite_exc("SELECT * FROM Order_Detail WHERE Date > '2024-08-02'")

In [ ]:
# r

[(3, 79.9, 0, 3, 5.0, 227.7, '2024-08-03', 'P003', 3, 3)]

In [ ]:
curr.execute("SELECT * FROM `Order` WHERE Date_of_Order BETWEEN DATE('now', '-1 month') AND DATE('now')")
rows = curr.fetchall()
print(rows)
for row in rows:
    print(row)

[(1, '2024-08-01', 'Order details A', 1), (2, '2024-08-02', 'Order details B', 2), (3, '2024-08-03', 'Order details C', 3)]
(1, '2024-08-01', 'Order details A', 1)
(2, '2024-08-02', 'Order details B', 2)
(3, '2024-08-03', 'Order details C', 3)

In [ ]:
con.close()